<!-- <ion-content class="login-content" padding>
    <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col width-67>
        <img src="../../assets/imgs/CDR.png"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
</ion-content> -->

<div class="login-box" *ngIf="isLogin">
  <form (ngSubmit)="login()" #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label *ngIf="loginErrorMessage && loginErrorMessage.length > 0">{{loginErrorMessage}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="User Id" name="userid" [(ngModel)]="registerCredentials.userid"
              required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="registerCredentials.password" name="password"
              required></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
        <button ion-button class="register-btn" block clear (click)="isLogin = false">Create New Account</button>
      </ion-col>
    </ion-row>

  </form>
</div>

<form *ngIf="!isLogin" novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
  <div [class.hide]="state == 'NEXT'">
    <ion-item>
      <ion-label>Name <span class="mandatorySign">*</span></ion-label>
      <ion-input type="text" value="" formControlName="firstname"></ion-input>

    </ion-item>

    <ion-item no-lines *ngIf="( user.get('firstname').hasError('required') ) && user.get('firstname').touched">

      <div class="error" *ngIf="user.get('firstname').hasError('required') && user.get('firstname').touched">
        Name is required
      </div>
      <!-- <div class="error" *ngIf="user.get('firstname').hasError('minlength') && user.get('firstname').touched">
        Minimum of 4 characters
      </div> -->
    </ion-item>
    <ion-item>
      <ion-label>Email <span class="mandatorySign">*</span></ion-label>
      <ion-input type="text" value="" formControlName="emailid"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="!user.get('emailid').valid && user.get('emailid').touched">
      <div class="error" *ngIf="user.get('emailid').hasError('required') && user.get('emailid').touched">
        Email id is required
      </div>
      <div class="error" *ngIf="!user.get('emailid').hasError('required') && !user.get('emailid').valid && user.get('emailid').touched">
        Please enter valid email id
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Mob <span class="mandatorySign">*</span> (+91)</ion-label>
      <ion-input type="number" maxlength="10" value="" formControlName="mobileno"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="( user.get('mobileno').hasError('required') || user.get('mobileno').hasError('minlength') || user.get('mobileno').hasError('maxlength'))&& user.get('mobileno').touched">
      <div class="error" *ngIf="user.get('mobileno').hasError('required') && user.get('mobileno').touched">
        Mobile no is required
      </div>
      <div class="error" *ngIf="user.get('mobileno').hasError('minlength') && user.get('mobileno').touched">
        Please enter valid mobile number
      </div>

      <div class="error" *ngIf="user.get('mobileno').hasError('maxlength') && user.get('mobileno').touched">
        Please enter valid mobile number
      </div>
    </ion-item>

    <ion-item [class.hide]="regType == 'USER'">
      <ion-label>Drug License <span class="mandatorySign">*</span></ion-label>
      <ion-input type="text" value="" formControlName="druglicense"></ion-input>
    </ion-item>

    <ion-item [class.hide]="regType == 'USER'" no-lines *ngIf="user.get('druglicense').hasError('required') && user.get('druglicense').touched">
      <div class="error" *ngIf="user.get('druglicense').hasError('required') && user.get('druglicense').touched">
        Drug License is required
      </div>
    </ion-item>

    <ion-item [class.hide]="regType == 'USER'">
      <ion-label>Shope Name <span class="mandatorySign">*</span></ion-label>
      <ion-input type="text" value="" formControlName="shopname"></ion-input>
    </ion-item>

    <ion-item [class.hide]="regType == 'USER'" no-lines *ngIf="user.get('shopname').hasError('required') && user.get('shopname').touched">
      <div class="error" *ngIf="user.get('shopname').hasError('required') && user.get('shopname').touched">
        Shope Name is required
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Address <span class="mandatorySign">*</span></ion-label>
      <ion-textarea style="resize: none;" type="text" value="" formControlName="address"></ion-textarea>
    </ion-item>

    <ion-item no-lines *ngIf="user.get('address').hasError('required') && user.get('address').touched">
      <div class="error" *ngIf="user.get('address').hasError('required') && user.get('address').touched">
        Address is required
      </div>
    </ion-item>

    <ion-item [class.hide]="regType != 'USER'">
      <ion-label>Owner Info <span class="mandatorySign">*</span></ion-label>
      <ion-input type="text" value="" formControlName="ownerinfo"></ion-input>
    </ion-item>

    <ion-item [class.hide]="regType != 'USER'" no-lines *ngIf="user.get('ownerinfo').hasError('required') && user.get('ownerinfo').touched">
        <div class="error" *ngIf="user.get('ownerinfo').hasError('required') && user.get('ownerinfo').touched">
            Owner Info is required
        </div>
    </ion-item>

    <!-- <ion-item [class.hide]="regType == 'USER'">
      <ion-label>Country</ion-label>

      <ion-select formControlName="country">
        <ion-option value="f">India</ion-option>
        <ion-option value="m">Afrika</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
        <ion-label>Registration Type</ion-label>
        <ion-select interface="action-sheet" (ionChange)="Regtype(regType);" formControlName="registrationtype" [(ngModel)]="regType">
          <ion-option value="OWNER">OWNER</ion-option>
          <ion-option value="USER">USER</ion-option>
        </ion-select>
    </ion-item>

    <ion-item no-lines *ngIf="user.get('registrationtype').hasError('required') && user.get('registrationtype').touched">
        <div class="error" *ngIf="user.get('registrationtype').hasError('required') && user.get('registrationtype').touched">
            Registration Type is required
        </div>
    </ion-item>


    <!-- <ion-list radio-group formControlName="registrationtype">
      <ion-label>Registration Type <span class="mandatorySign">*</span></ion-label>
      <ion-item>
        <ion-label>OWNER</ion-label>
        <ion-radio value="OWNER" (ionSelect)="Regtype('OWNER')" [checked]=true></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>USER</ion-label>
        <ion-radio (ionSelect)="Regtype('USER')" value="USER"></ion-radio>
      </ion-item>
    </ion-list> -->
    
  </div>
  <div [class.hide]="state == 'INITIAL'">
    <ion-item>
      <ion-label [class.hide]="regType == 'USER'">Owner Id</ion-label>
      <ion-label [class.hide]="regType != 'USER'">User Id</ion-label>
      <span class="mandatorySign">*</span>
      <ion-input type="text" value="" (keyup)="userPhrase$.next($event.target.value)" formControlName="userid"></ion-input>
      <ion-label *ngIf="IsAvailable">Available</ion-label>
      <ion-label *ngIf="!IsAvailable">Not Available</ion-label>
    </ion-item>
    <ion-item [class.hide]="regType != 'USER'" no-lines *ngIf="user.get('userid').hasError('required') && user.get('userid').touched">
        <div class="error" *ngIf="user.get('userid').hasError('required') && user.get('userid').touched">
            User Id is required
        </div>
    </ion-item>
      <ion-item>
        <ion-label>Password <span class="mandatorySign">*</span></ion-label>
        <ion-input type="password" value="" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-item no-lines *ngIf="user.get('password').hasError('required') && user.get('password').touched">
              <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                  Password is required
              </div>
              <div class="error" *ngIf="user.get('password').valid && user.get('password').touched">
                  Password is not valid
              </div>
          </ion-item>
        <ion-label>confirm password <span class="mandatorySign">*</span></ion-label>
        <ion-input type="password" value="" formControlName="confirm_password"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="user.get('confirm_password').touched">
        <div class="error" *ngIf="user.get('confirm_password').value != user.get('password').value">
          Password and confirm password not matched
        </div>
        <!-- <div class="error" *ngIf="user.get('emailid').hasError('emailid') && user.get('emailid').touched">
          Please enter valid email
        </div> -->
      </ion-item>
    
    <!-- <ion-item>
        <ion-label >Confirm Password</ion-label>
        <ion-input type="password" value="" formControlName="conpassword"></ion-input>
      </ion-item> -->
  </div>
  <button ion-button class="register-btn" block clear (click)="backtologin()">Back to Login</button>
  <a ion-link *ngIf="state == 'INITIAL'" (click)="Next()" color="primary">NEXT</a>
  <a ion-link *ngIf="state == 'NEXT'" (click)="Back()" color="primary">BACK</a>

  <button ion-button [disabled]="user.invalid || customformvalidation">SUBMIT</button>
</form>
