<!-- <ion-content class="login-content" padding>
    <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col width-67>
        <img src="../../assets/imgs/CDR.png"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
</ion-content> -->

<!-- <ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="../../assets/imgs/CDR.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content> -->
<ion-content class="mainColorbg">
  <!-- <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col width-67>
          <img src="../../assets/imgs/CDR.png"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row> -->




  <div class="login-box parent" *ngIf="isLogin">
    <div class="form_login">
      <div class="logoWrapper">
        <img src="../../assets/imgs/CDR.png" class="rounded" />
      </div>
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <!-- <mat-form-field>
          INPUTX <input matInput placeholder="Input">
      </mat-form-field> -->
        <!-- <ion-row>
      <ion-col>
        <ion-list inset>
            <div class="example-container">
            <mat-form-field>
                 <input matInput placeholder="Input">
            </mat-form-field>
            </div> -->

        <!-- <ion-item>
            <ion-label>User Id <span class="mandatorySign">*</span></ion-label>
            <ion-input type="text"  name="userid" [(ngModel)]="registerCredentials.userid"
              required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password <span class="mandatorySign">*</span></ion-label>
            <ion-input type="password" [(ngModel)]="registerCredentials.password" name="password"
              required></ion-input>
          </ion-item>
          <ion-label class="error" *ngIf="loginErrorMessage != '' ">{{loginErrorMessage}}</ion-label> -->

        <!-- </ion-list>
      </ion-col>
    </ion-row> -->


        <!-- 
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
        <button ion-button class="register-btn" block clear (click)="CreateNewAccount()">Create New Account</button>
      </ion-col>
    </ion-row> -->

        <mat-card class="example-card">
          <!-- <mat-card-header class="mat-login-header">
          <mat-card-title class="f30">Login</mat-card-title>
        </mat-card-header> -->
          <mat-card-content>
            <div class="example-container">
              <div>
                <ion-icon name="person"></ion-icon>
                <mat-form-field class="w25p f16">
                  <input matInput placeholder="Enter your username" [(ngModel)]="registerCredentials.userid"
                    [ngModelOptions]="{standalone:true}" name="username" required>
                </mat-form-field>
              </div>

              <div>
                <ion-icon name="key"></ion-icon>
                <mat-form-field class="w25p f16">
                  <!-- <input matInput placeholder="Password" type="password" name="password" required> -->
                  <input matInput placeholder="Enter your password" [(ngModel)]="registerCredentials.password"
                    [ngModelOptions]="{standalone:true}" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error class="f16" *ngIf="loginErrorMessage != '' ">{{loginErrorMessage}}</mat-error>
                </mat-form-field>


              </div>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button ion-button round outline type="submit" [class.btn-disabled]="registerCredentials.userid == '' || registerCredentials.password == ''"
              [disabled]="registerCredentials.userid == '' || registerCredentials.password == ''">Login</button>
            <button ion-button round outline (click)="CreateNewAccount()">Register</button>
            <!--             
          <button round (click)="login()" color="primary">Login</button>
          <button mat-fab color="secondary">Register</button> -->
          </mat-card-actions>
        </mat-card>

      </form>
    </div>
  </div>
  <div *ngIf="!isLogin">
    <div class="form_register">
      <form *ngIf="!isLogin" novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
        <mat-card class="example-card">
          <mat-card-header class="mat-login-header">
            <button class="next" mat-fab *ngIf="state == 'INITIAL'" (click)="Next()" color="primary">
              <mat-icon aria-label="Goto next page">arrow_forward</mat-icon>
            </button>
            <button class="back" mat-fab *ngIf="state == 'NEXT'" (click)="Back()" color="primary">
              <mat-icon aria-label="Goto next page">arrow_back</mat-icon>
            </button>
            <!-- <div>
              <a mat-fab *ngIf="state == 'INITIAL'" (click)="Next()" color="primary">NEXT</a>
              <a mat-fab *ngIf="state == 'NEXT'" (click)="Back()" color="primary">BACK</a>
            </div> -->
          </mat-card-header>
          <mat-card-content>
            <div class="example-container">
              <div [class.hide]="state == 'NEXT'">
                <div>
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Enter your first name" formControlName="firstname" required>
                    <mat-error class="f12" *ngIf="user.get('firstname').hasError('required') && user.get('firstname').touched">Name
                      is required</mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Enter email id" formControlName="emailid" required>
                    <mat-error class="f12" *ngIf="user.get('emailid').hasError('required') && user.get('emailid').touched">Email
                      id is required</mat-error>
                    <mat-error class="f12" *ngIf="!user.get('emailid').hasError('required') && !user.get('emailid').valid && user.get('emailid').touched">Please
                      enter valid email id</mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field class="w25p f16">
                    <input type="number" matInput placeholder="Enter your mobile number" formControlName="mobileno"
                      required>
                    <mat-error class="f12" *ngIf="user.get('mobileno').hasError('required') && user.get('mobileno').touched">Mobile
                      no is required</mat-error>
                    <mat-error class="f12" *ngIf="user.get('mobileno').touched && user.get('mobileno').hasError('minlength')">Please
                      enter valid mobile number</mat-error>
                    <mat-error class="f12" *ngIf="user.get('mobileno').touched && user.get('mobileno').hasError('maxlength')">Please
                      enter valid mobile number</mat-error>
                  </mat-form-field>
                </div>

                <div [class.hide]="regType == 'USER'">
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Enter drug license" formControlName="druglicense" required>
                    <mat-error class="f12" *ngIf="user.get('druglicense').hasError('required') && user.get('druglicense').touched">Drug
                      License is required</mat-error>
                  </mat-form-field>
                </div>

                <div [class.hide]="regType == 'USER'">
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Enter shop name" formControlName="shopname" required>
                    <mat-error class="f12" *ngIf="user.get('shopname').hasError('required') && user.get('shopname').touched">Shope
                      name is required</mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Enter address" formControlName="address" required>
                    <mat-error class="f12" *ngIf="user.get('address').hasError('required') && user.get('address').touched">Address
                      is required</mat-error>
                  </mat-form-field>
                </div>

                <div [class.hide]="regType != 'USER'">
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Enter owner information" formControlName="ownerinfo" required>
                    <mat-error class="f12" *ngIf="user.get('ownerinfo').hasError('required') && user.get('ownerinfo').touched">Owner
                      information is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- <div>
                  <section class="example-section">
                    <mat-slide-toggle class="example-margin" [checked]="isRegType" (change)="RegistrationType();"
                      formControlName="registrationtype">{{regType}}
                    </mat-slide-toggle>
                  </section>
                </div> -->

                <!-- <div>
                  <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="registrationtype" [value]="regType"
                    (change)="Regtype(group.value);">
                    <mat-button-toggle value="USER">
                      <span>User</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="OWNER">
                      <span>Owner</span>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div> -->

              </div>

              <div [class.hide]="state == 'INITIAL'">
                <div>
                  <mat-form-field class="w25p f16">
                    <input matInput [placeholder]="regType != 'USER' ? 'Owner Id': 'User Id'" (keyup)="userPhrase$.next($event.target.value)"
                      formControlName="userid" required>
                    <mat-error class="f12" *ngIf="user.get('userid').hasError('required') && user.get('userid').touched">{{regType
                      != 'USER' ? 'Owner
                      id is required': 'User id is required'}}</mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Give a password" formControlName="password" [type]="hide ? 'password' : 'text'"
                      required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error class="f12" *ngIf="user.get('password').hasError('required') && user.get('password').touched">Password
                      is required</mat-error>
                    <mat-error class="f12" *ngIf="user.get('password').valid && user.get('password').touched">Password
                      is not valid</mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field class="w25p f16">
                    <input matInput placeholder="Confirm password" formControlName="confirm_password" type="password"
                      required>
                    <mat-error class="f12" *ngIf="user.get('confirm_password').touched && user.get('confirm_password').value != user.get('password').value">Password
                      and confirm password is not matching</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button ion-button round outline type="submit" [class.btn-disabled]="user.invalid || customformvalidation"
              [disabled]="user.invalid || customformvalidation">Submit</button>
            <button ion-button round outline (click)="backtologin()">Goto Login</button>
          </mat-card-actions>
        </mat-card>

        <!-- <div [class.hide]="state == 'NEXT'">
          <ion-toggle [class.toggle-unchecked]="!toggle.value" #toggle formControlName="isToggled" (ionChange)="notify()"></ion-toggle>
          <ion-item>
            <ion-label>Registration Type</ion-label>
            <ion-select interface="action-sheet" (ionChange)="Regtype(regType);" formControlName="registrationtype"
              [(ngModel)]="regType">
              <ion-option value="OWNER">OWNER</ion-option>
              <ion-option value="USER">USER</ion-option>
            </ion-select>
          </ion-item>

          <ion-item no-lines *ngIf="user.get('registrationtype').hasError('required') && user.get('registrationtype').touched">
            <div class="error" *ngIf="user.get('registrationtype').hasError('required') && user.get('registrationtype').touched">
              Registration Type is required
            </div>
          </ion-item>
        </div> -->

      </form>
    </div>
  </div>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</ion-content>
<!-- <mat-card>
    <mat-card-content> -->
<!-- <section class="example-section">
  <mat-checkbox class="example-margin" >Checked</mat-checkbox>
  <mat-checkbox class="example-margin" ionic>Indeterminate</mat-checkbox>
</section> -->
<!-- </mat-card-content>
</mat-card> -->

<footer></footer>
