<!-- <ion-content class="login-content" padding>
    <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col width-67>
        <img src="../../assets/imgs/CDR.png"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
</ion-content> -->

    <div class="login-box" *ngIf="isLogin">
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-input type="text" placeholder="User Id" name="userid" [(ngModel)]="registerCredentials.content.userid" required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-input type="password" placeholder="Password" [(ngModel)]="registerCredentials.content.password" name="password"  required></ion-input>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
            <button ion-button class="register-btn" block clear (click)="isLogin = false">Create New Account</button>
          </ion-col>
        </ion-row>
        
      </form>
    </div>

<form *ngIf="!isLogin" novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
<div [class.hide]="state == 'NEXT'">
<ion-item>
  <ion-label >Firstame</ion-label>
  <ion-input type="text" value="" formControlName="firstname"></ion-input>

</ion-item>

<ion-item no-lines *ngIf="( user.get('firstname').hasError('minlength') || user.get('firstname').hasError('required') ) && user.get('firstname').touched">

<div class="error" *ngIf="user.get('firstname').hasError('required') && user.get('firstname').touched">
Name is required
</div>
<div class="error" *ngIf="user.get('firstname').hasError('minlength') && user.get('firstname').touched">
Minimum of 4 characters
</div>
</ion-item>
<ion-item>
<ion-label >Email</ion-label>
<ion-input type="text" value="" formControlName="emailid"></ion-input>
</ion-item>
<ion-item no-lines *ngIf="( user.get('emailid').hasError('required') || user.get('emailid').hasError('emailid') ) && user.get('emailid').touched">
<div class="error" *ngIf="user.get('emailid').hasError('required') && user.get('emailid').touched">
email is required
</div>
<div class="error" *ngIf="user.get('emailid').hasError('emailid') && user.get('emailid').touched">
Please enter valid email
</div>
</ion-item>
<ion-item>
<ion-label >Mob</ion-label>
<ion-input type="text" value="" formControlName="mobileno"></ion-input>
</ion-item>
<ion-item no-lines *ngIf="( user.get('mobileno').hasError('required') || user.get('mobileno').hasError('minlength') || user.get('mobileno').hasError('maxlength'))&& user.get('mobileno').touched">
<div class="error" *ngIf="user.get('mobileno').hasError('required') && user.get('mobileno').touched">
mobile no is required
</div>
<div class="error" *ngIf="user.get('mobileno').hasError('minlength') && user.get('mobileno').touched">
Please enter valid mobile number
</div>

<div class="error" *ngIf="user.get('mobileno').hasError('maxlength') && user.get('mobileno').touched">
Please enter valid mobile number
</div>
</ion-item>

<ion-item *ngIf="user.get('registrationtype').value != 'USER'">
  <ion-label >License</ion-label>
  <ion-input type="text" value="" formControlName="druglicense"></ion-input>
</ion-item>

<ion-item no-lines *ngIf="( user.get('druglicense').hasError('required') || user.get('druglicense').hasError('emailid') ) && user.get('druglicense').touched">
<div class="error" *ngIf="user.get('druglicense').hasError('required') && user.get('druglicense').touched">
  License is required
  </div>
</ion-item>

<ion-item *ngIf="user.get('registrationtype').value != 'USER'">
  <ion-label >Shope Name</ion-label>
  <ion-input type="text" value="" formControlName="shopname"></ion-input>
</ion-item>

<ion-item no-lines *ngIf="( user.get('shopname').hasError('required') || user.get('shopname').hasError('shopname') ) && user.get('shopname').touched">
<div class="error" *ngIf="user.get('shopname').hasError('required') && user.get('shopname').touched">
  Shope Name is required
  </div>
</ion-item>

<ion-item>
  <ion-label >Address</ion-label>
  <ion-textarea type="text" value="" formControlName="address"></ion-textarea>
</ion-item>

<ion-item no-lines *ngIf="( user.get('address').hasError('required') || user.get('address').hasError('address') ) && user.get('address').touched">
<div class="error" *ngIf="user.get('address').hasError('required') && user.get('address').touched">
  Address is required
  </div>
</ion-item>

<ion-item *ngIf="user.get('registrationtype').value != 'USER'">
  <ion-label >Country</ion-label>
  
  <ion-select formControlName="country">
    <ion-option value="f">India</ion-option>
    <ion-option value="m">Afrika</ion-option>
  </ion-select>
</ion-item>

<ion-item no-lines *ngIf="(user.get('country').hasError('required') || user.get('country').hasError('address') ) && user.get('country').touched">
<div class="error" *ngIf="user.get('country').hasError('required') && user.get('country').touched">
  Address is required
  </div>
</ion-item>

<ion-list radio-group formControlName="registrationtype">
  <ion-label>Registration Type</ion-label>
  <ion-item>
      <ion-label>OWNER</ion-label>
    <ion-radio value="OWNER" (ionSelect)="Regtype('OWNER')" [checked]=true></ion-radio>
  </ion-item>
  <ion-item>
      <ion-label>USER</ion-label>
    <ion-radio (ionSelect)="Regtype('USER')" value="USER"></ion-radio>
  </ion-item>
</ion-list>
<ion-item *ngIf="user.get('registrationtype').value == 'USER'">
    <ion-label >Owner Info</ion-label>
    <ion-input type="text" value="" formControlName="ownerinfo"></ion-input>
  
</ion-item>
</div>
<div [class.hide]="state == 'INITIAL'">
    <ion-item>
        <ion-label *ngIf="user.get('registrationtype').value != 'USER'">Owner Id</ion-label>
        <ion-input type="text" value="" formControlName="ownerid"></ion-input>
    </ion-item>
    <ion-item *ngIf="user.get('registrationtype').value == 'USER'">
        <ion-label >User Id</ion-label>
        <ion-input type="text" value="" formControlName="userid"></ion-input>
      </ion-item>
    <ion-item >
        <ion-label >Password</ion-label>
        <ion-input type="password" value="" formControlName="password"></ion-input>
      </ion-item>
    <!-- <ion-item>
        <ion-label >Confirm Password</ion-label>
        <ion-input type="password" value="" formControlName="conpassword"></ion-input>
      </ion-item> -->
</div>
<a ion-link *ngIf="state == 'INITIAL'" (click)="Next()" color="primary">NEXT</a>
<a ion-link *ngIf="state == 'NEXT'" (click)="Back()"  color="primary">BACK</a>
{{user.invalid}}
<button ion-button  [disabled]="user.invalid">SUBMIT</button>
</form>